<div class="p-4">
    <div class="container">
        <!-- <p><a routerLink="/users">Gerenciador de usuários</a></p> -->
        <div class="container col-6" style="text-align: center;">
            <h1>Olá, {{ user_nome }}!</h1>
            <p>Bem vindo ao NETBULL SISTEMAS</p>
            <div class="card">
                <div style="text-align: center;">
                    <h4 class="card-header"></h4>
                    <img src="assets/netbullbranca.jpg" width="80%" height="80%" style="padding-top: 20px;">
                </div>
            </div>
        </div>

    </div>
</div>